# Python
.venv/
venv/
__pycache__/
*.pyc

# Data (raw dataset not versioned)
data/*
!data/.gitkeep

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Secrets
.env
**/secrets.toml
**/profiles.yml

# Docker
**/*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
terraform/.snowflake_keys/

# Airflow runtime logs (generated automatically, keep folder structure only)
airflow/logs/*
!airflow/logs/.gitkeep

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
dbt_project/profiles.yml
dbt_project/.user.yml
